<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turret Dashboard</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="left-middle-container">
        <div class="title">
            <h1>Turret Dashboard</h1>
        </div>

        <div class="panels-container">
            <div class="left-panel">

                <div class="image-container">
                    <img id="live-image" src="../static/notFound.png" onerror="this.onerror=null; this.src='static/notFound.png'" alt="" width="640" height="480">
                </div>

                <div class="confidence-container">
                    <p><span class="conf-label">Confidence:</span> <span id="conf-value" class="conf-value-class">-</span></p>
                    <div class="confidence-bar">
                        <div class="confidence-fill" style="width: 70%;"></div>
                    </div>
                </div>

                <div class="angle-container">
                    <p><span class="x-and-y-angle-label">Absolut X angle:
                    <span class="hover-angle-label">displays the absolut horizontal angle of the turret's direction</span>
                    </span> <span id="absolut-x-angle-value" class="x-and-y-angle-value">-</span></p>
                    <div class="angle-visual">
                    <div class="angle-circle">
                        <div class="angle-label-top">90</div>
                        <div class="angle-label-plus">+<span class="hover-angle-label-for-plus">left</span></div>
                        <div class="angle-label-minus">-<span class="hover-angle-label-for-minus">right</span></div>
                        <div class="angle-line limit-line-0"></div>
                        <div class="angle-line limit-line-180"></div>
                        <div class="angle-line" id="absolut-x-angle-line"></div>
                    </div>
                    </div>
                </div>

                <div class="angle-container">
                    <p><span class="x-and-y-angle-label">Relative X angle:
                    <span class="hover-angle-label">displays the relative horizontal angle the turret calculated</span>
                    </span> <span id="relative-x-angle-value" class="x-and-y-angle-value">-</span></p>
                    <div class="angle-visual">
                    <div class="angle-circle">
                        <div class="angle-label-top">0</div>
                        <div class="angle-label-plus">+</div>
                        <div class="angle-label-minus">-</div>
                        <div class="angle-line" id="relative-x-angle-line"></div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="middle-panel">
                <div class="image-container">
                    <div id="crosshair-container">
                        <div id="crosshair-horizontal-line"></div>
                        <div id="crosshair-vertical-line"></div>
                    </div>
                    <img id="live-mask" src="../static/notFound.png" onerror="this.onerror=null; this.src='static/notFound.png'" alt="" width="640" height="480">
                </div>

                <div class="x-and-y-container">
                    <div class="x-and-y-subcontainer">
                        <div class="xy-pair">
                            <span class="x-and-y-label">X:</span>
                            <span id="x-value" class="x-and-y-value">-</span>
                        </div>
                        <div class="xy-pair">
                            <span class="x-and-y-label">Y:</span>
                            <span id="y-value" class="x-and-y-value">-</span>
                        </div>
                    </div>
                </div>

                <div class="angle-container">
                    <p><span class="x-and-y-angle-label">Absolut Y angle:
                        <span class="hover-angle-label">displays the absolut vertical angle of the turret's direction</span>
                    </span> <span id="absolut-y-angle-value" class="x-and-y-angle-value">-</span></p>
                    <div class="angle-visual">
                    <div class="angle-circle">
                        <div class="angle-label-top">90</div>
                        <div class="angle-label-plus">+<span class="hover-angle-label-for-plus">up</span></div>
                        <div class="angle-label-minus">-<span class="hover-angle-label-for-minus">down</span></div>
                        <div class="angle-line limit-line-60"></div>
                        <div class="angle-line limit-line-120"></div>
                        <div class="angle-line" id="absolut-y-angle-line"></div>
                    </div>
                    </div>
                </div>
                <div class="angle-container">
                    <p><span class="x-and-y-angle-label">Relative Y angle:
                        <span class="hover-angle-label">displays the relative vertical angle the turret calculated</span>
                    </span> <span id="relative-y-angle-value" class="x-and-y-angle-value">-</span>
                    </p>
                    <div class="angle-visual">
                    <div class="angle-circle">
                        <div class="angle-label-top">0</div>
                        <div class="angle-label-plus">+</div>
                        <div class="angle-label-minus">-</div>
                        <div class="angle-line" id="relative-y-angle-line"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-panel">
        <h2>Turret Log</h2>
        <div id="log-container"></div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>